/* 通用css */
* {
    margin: 0px;
    padding: 0px;
    /*清除盒子内外边距的影响*/
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: "黑体";
    /*将链接标签设置同一样式*/
}

li {
    list-style: none;
    /*去掉li前的小原点*/
}

/* 通用css */




/* 网页头部部分 */
.head_top_one {
    height: 155px;
    background-color: #024089;
    text-align: center;
    /*将下面a标签盒子居中从而将logo居中*/
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #004c9a;
}

.head_top_one a {
    display: inline-block;
    height: 90px;
    width: 1280px;
    margin-top: 33px;
    /*通过外边距调整a标签盒子的位置*/
}

.head_top_two {
    height: 46px;
    background-color: #024089;
    text-align: center;
    /* 将第一个ul盒子居中，同时将导航栏中的文字居中 */
}

.head_top_two>ul {
    display: inline-block;
    height: 46px;
}

.head_top_two>ul>li {
    float: left;
    /* 将导航栏li在第一个ul盒子里浮动，水平排列 */
}

.head_top_two>ul li {
    background-color: #024089;
    height: 46px;
    width: 128px;
}

.head_top_two>ul>li li {
    position: relative;
    /* 通过给li添加相对定位使其在其他元素之上显示 */
    height: 40px;
}

.head_top_two>ul>li a {
    display: block;
    height: 46px;
    line-height: 46px;
    font-weight: 400;
    font-size: 16px;
}

.head_top_two>ul>li>ul a {
    /* 给导航栏设置不同的字体大小 */
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.head_top_two>ul>li>ul li {
    /* 隐藏多余部分 */
    visibility: hidden;
}

.head_top_two>ul>li:hover>ul li {
    /* 显示 */
    visibility: visible;
}

.head_top_two>ul>li>ul li:hover {
    background-color: #024d99;
}

.head_image {
    height: 435px;
    width: 100%;
}

/* 网页头部部分 */




/* 网页主体第一部分 */
.section_one {
    width: 1280px;
    height: 544px;
    margin: 0px auto;
    /* 将模块居中 */
    margin-top: 40px;
    margin-bottom: 40px;
}

.new_hd {
    width: 1280px;
    height: 23.7px;
    margin-bottom: 40px;
    margin-bottom: 50.3px;
}

.title {
    display: inline-block;
    font-weight: 700;
    font-size: 21px;
    font-family: "黑体";
}

.button {
    display: block;
    float: right;
}

.section_one_main {
    width: 1280px;
    height: 470px;
}

.section_one_1 {
    width: 360px;
    height: 470px;
    margin-right: 55px;
    float: left;
}

.section_one_1_1 {
    position: relative;
    /* 父相子绝 */
    width: 360px;
    height: 68px;
}

.sizelittle {
    width: 68px;
    height: 68px;
}

.sizetitle {
    width: 280px;
    height: 52px;
    margin-top: 15px;
    position: absolute;
    /* 使用绝对定位，以父类为参考，使其靠右上对齐 */
    top: 0px;
    right: 0px
}

.sizetitle>a {
    color: #024089;
    font-weight: 700px;
}

.section_one_1_2 {
    width: 360px;
    height: 240px;
    margin: 28px 0px;
}

.size {
    width: 360px;
    height: 240px;
}

.section_one_1_3 {
    position: relative;
    width: 360px;
    height: 109px;
}

.section_one_1_3>a {
    line-height: 27px;
    color: #777777;
    font-size: 12px;
    font-family: "宋体";
    font-weight: 500;
}

.section_one_1_3 :last-child {
    position: absolute;
    /* 父相子绝 */
    bottom: 0px;
    right: 0px;
    font-size: 15px;
}

.section_one_2 {
    width: 360px;
    height: 470px;
    margin-right: 55px;
    float: left;
    /* section_one_2模块和section_one_1相同 
    直接使用section_one_1中的css样式 */
}

.section_one_3 {
    width: 450px;
    height: 470px;
    float: left;
}

.section_one_3 ul li {
    width: 450px;
    height: 44px;
}

.section_one_3 ul li a {
    font-size: 16px;
    color: #333333;
    line-height: 40px;
    font-weight: 500;
}

.section_one_3 ul li span {
    margin-top: 11px;
    float: right;
    font-size: 15px;
    color: #666666;
}

/* 网页主体第一部分 */




/* 网页主体第二部分 */
.section_two {
    width: 1280px;
    height: 202.8px;
    margin: 0px auto;
}

.section_two_hd {
    width: 1280px;
    height: 21.8px;
    margin-bottom: 22.4px;
}

.section_two table tr {
    width: 1280px;
    height: 159px;
    overflow: hidden;
}

.section_two table td {
    width: 313px;
    height: 159px;
    border-spacing: 0px;
    padding-right: 20px;
}

marquee img {
    margin-right: 12px;
    width: 313px;
    height: 159px;
}

/* 网页主体第二部分 */



/* 网页主体第三部分 */
.section_three {
    width: 1280px;
    height: 398.2px;
    margin: 0px auto;
    margin-top: 40px;
}

.section_three_one {
    width: 380px;
    height: 398.2px;
    margin-right: 60px;
    float: left;
}

.section_three_one_hd {
    width: 380px;
    height: 23.2px;
    margin-bottom: 25px;
}

.section_three_one_main {
    width: 380px;
    height: 86.6px;
    margin-bottom: 28px;
    border-bottom-style: dashed;
    border-color: #dcdcdc;
    border-bottom-width: 1px;
    position: relative;
}

.sizetitle_2 {
    width: 280px;
    height: 52px;
    margin: 5px 0px 0px 0px;
    position: absolute;
    /* 使用绝对定位，以父类为参考，使其靠右上对齐 */
    top: 0px;
    right: 0px
}

.sizetitle_2>a {
    color: #000000;
    line-height: 30px;
    font-size: 15px;
}

.section_three_two {
    width: 390px;
    height: 368.8px;
    margin-right: 60px;
    float: left;
}

.section_three_two_hd {
    width: 390px;
    height: 23.2px;
    margin-bottom: 25px;
}

.section_three_two ul {
    width: 390px;
    height: 321.6px;
}

.section_three_two ul li {
    width: 390px;
    height: 19.2px;
    margin-bottom: 22px;
    position: relative;
}

.section_three_two ul li a {
    color: #000;
    line-height: 19.2px;
}

.section_three_two ul li span {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 18px;
    color: #7f7f7f;
}

.sizetitle_2>a:hover,
.section_three_two ul li a:hover {
    color: red;
}

/* 网页主体第三部分 */






/* 网页底部部分 */
.footer {
    overflow: hidden;
    /* 防止盒子的塌陷 */
    height: 102px;
    background-color: #024089;
}

.footer_center {
    width: 1280px;
    height: 62px;
    margin: 20px auto;
}

.center_1 {
    float: left;
    width: 380px;
    height: 62px;
    margin-right: 55px;
    position: relative;
}

.center_1 p {
    position: absolute;
    top: 10px;
    left: 8px;
    color: #cccccc;
    font-size: 13px;
    line-height: 30px;
    font-weight: 500;
}

.center_2 {
    float: left;
    width: 390px;
    height: 62px;
    margin-right: 55px;
    position: relative;
}

.text {
    width: 240px;
    height: 28px;
    position: absolute;
    top: 15px;
    left: 20px;
}

.tj {
    position: absolute;
    top: 22px;
    left: 270px;
}

.center_3 {
    float: left;
    width: 400px;
    height: 62px;
}

.center_3 li {
    display: inline-block;
    width: 130px;
    height: 31px;
}

.center_3 li a {
    display: block;
    height: 31px;
    line-height: 31px;
    color: #ffffe7;
    font-size: 14px;
}

/* 网页底部部分 */